:root {
  --color-background: #181818;
  --color-text: rgb(235, 235, 235);
  --section-gap: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  width: 700px;
  margin: 30px;
  font-weight: normal;
}

body {
  min-height: 90vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin-top: -10px;
  margin-left: 45px;
}
