@import './base.css';

#app {
  max-width: 1280px;
  max-height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

.body {
  height:70%;
  width:50%;
}

a,
.white {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@font-face {
  font-family: TT-norms;
  src:url("../assets/fonts/TTNormsPro-Regular.ttf");
}