@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.body {
  height:770px;
  width:1000px;
  border: solid #eee;
  border-width:1px 0;
}

.header, .footer {
  height: 40px;
  padding: 5px;
}

.footer {
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

a,
.orange {
  text-decoration: none;
  color: #FF914D;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #272727;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@font-face {
  font-family: TT-norms;
  src:url("../assets/fonts/TTNormsPro-Regular.ttf");
}